div{
    right: 30px;
    border:  3px solid green;
    width: 300px;
}
.sticky{
    position: sticky;
    top: 20px;
}
.absolute{
    position: absolute;
    left: 50px;
}
.relative{
    position: relative;
    left: 100px;
}
.fixed{
    position: fixed;
    right: 20px;
    top: 0px;
}